/* CSS */
body{
    margin: 0;
    padding: 0;
    background: #1a1a1a;

    /*background-image: url('../images/little-bill1%20copy.jpg');*/
}
@font-face {
    font-family: "Infinity";
    src: url("/fonts/Infinity.ttf") format("truetype");
}
label
{
    color: rgba(240,57,70,.50);
    font-size: .7em;
}
.nav-container{

    /*http://tutorialzine.com/2013/10/12-awesome-css3-features-you-can-finally-use/ */


    position:relative;
    text-align:center;
    padding:20px 0;
    width:420px;
    height: 160px;
    margin: 0 auto;
    content:"testing";

}

a
{
    color: #1c1c1c;
    /*text-decoration: none;*/
}a:visited{
     color: black;
     /*text-decoration: none;*/
 }

h1
{
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    text-align: center;
    background: rgba(240,57,70,.50);
    border-bottom-style: inset;

    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
textarea:focus, input:focus
{
    border: rgba(240,57,70,.50);
    color: #F3F3F4;
}
/*Left Panel*/
.left-panel-fixed
{
    width: 10em;
    height: 100%;
    left: 0;
    top: 0;

    position: fixed;
    -webkit-transition: background 0.8s ease;
    -moz-transition: background 0.8s ease;
    -o-transition: background 0.8s ease;
    transition: background 0.8s ease;
    background: rgba(63,63,65,0.20);
}.left-panel-fixed:hover{
     -webkit-transition: background 0.8s ease;
     -moz-transition: background 0.8s ease;
     -o-transition: background 0.8s ease;
     transition: background 0.8s ease;
     background: rgba(63,63,65,0.90);
 }
#user
{
    margin: 2em;
}
#links
{

    margin-top:7em;
}.nav-list{
     background: rgba(0, 0, 0, 0.95);
     list-style-type: none;
 }.nav-item{

      text-align: center;
      margin-left: -2em;
      padding:1em;
      background: rgba(240,57,70,.50);
  }.nav-item:hover{
       background: rgba(240,57,70,.80);
       color: #F3F3F4;
       border-right: #F03946 inset .2em;

   }.nav-item:active{
        background: rgba(240,57,70,1);
    }
.nav-item:hover::after{
    content: "<";
    color: white;
}
.nav-item:active::after{
    content: "<";
    color: black;
    text-align: right;
}



footer
{
    position: absolute;
    bottom:0;
    padding: 1.3em;
}
footer h5
{
    color: white;
    font-family: "Infinity", helveticaneue, "Helvetica Neue", helvetica, sans-serif;
    font-weight: lighter;
    text-align: center;
    font-size: 1.0em;
    letter-spacing: .3em;
}
h5.twitter a
{
    color: deepskyblue;

}
/*Top Panel*/
.top-panel-fixed
{
    width: 100%;
    height: 5em;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(63,63,65,0.95);

}


#login
{
    float: right;
    padding: .8em;
}

#Userpass,#Username
{
    border: 0;
    display: block;
    width: 20em;
    margin-right: 10em;
    background: rgba(240,57,70,.50);

}
#login-button
{
    position: absolute;
    border:0;
    background: rgb(240,57,70);
    color: white;
    width: 20.22em;
}#login-button:hover{
     border: #F03946 outset .2em;
     cursor: pointer;
 }
#logo
{
    position: absolute;
    bottom: .04em;
    top: -.4em;
    margin-left: 30%;
    color: white;

}

/*actual page content*/
.page-content
{
    -webkit-transition: background 0.8s ease;
    -moz-transition: background 0.8s ease;
    -o-transition: background 0.8s ease;
    transition: background 0.8s ease;
    margin-top: 7em;
    /*margin-right: 5%;*/
    margin-right:2em;
    margin-left: 12em;
    /*margin-left: 17%;*/
    border: rgba(63,63,65,0.0) dashed .12em; /*This is so it doesnt get offset*/
    border-radius: 1em;
    max-width: 70em;
    background: rgba(63,63,65,0.50);

} .page-content:hover{
      -webkit-transition: all 0.8s ease;
      -moz-transition: all 0.8s ease;
      -o-transition: all 0.8s ease;
      transition: all 0.8s ease;
      border: grey solid .12em;
      background: rgba(63,63,65,0.70);

  }
.page-content p{
    text-indent: 1.5em;
    color: #F3F3F4;
    padding: 1em;
    line-height: 2em;
    font-family: helveticaneue, "Helvetica Neue", helvetica, sans-serif;
}
#small-logo
{

    display: inline;
    margin: 2em;
    padding: 1em;
}
#small-logo p
{
    text-align: center;
    font-family: "Infinity",helveticaneue, "Helvetica Neue", helvetica, sans-serif;
    font-weight: lighter;
    letter-spacing: .2em;
    color: lightgrey;
}

#contact-me
{
    align-content: center;
    padding: 1em;
    margin-left: 20em;
}#contact-name, #contact-email{
     width: 30%;
     height: 1.8em;
     border:0;
     background: rgba(240,57,70,.50);


 }#contact-message{
      width: 60.3%;
      padding-bottom:3em;
      border:0;

      background: rgba(240,57,70,.50);
  }
#contact-submit
{
    border: 0;
    background: white;
}#contact-submit:hover{
     cursor: pointer;



 }

.topictable {
    margin: 0 auto;
    padding: 5em;
    color:#fbfbfb;
    border-collapse: collapse;

}
.topictable th {
    font-size:16px;
    font-family: "Infinity", helveticaneue, "Helvetica Neue", helvetica, sans-serif;
    background-color:#171515;
    border: .1em #686767 solid;
    padding: 8px;
    text-align:left;
}
.topictable tr {
    background-color:#2f2f2f;
}
.topictable td {
    font-size:12px;
    padding: 8px;
    border-color: #686767;
}
.topictable tr:hover {
    background-color:rgba(240,57,70,0.90);
}
