/*
Kuler Colors:
https://kuler.adobe.com/Black-Keys-color-theme-3502140/edit/?copy=true&base=0&rule=Custom&selected=0&name=Copy%20of%20Black%20Keys&mode=rgb&rgbvalues=0.6392156862745098,0.6588235294117647,0.2235294117647059,0.24705882352941178,0.24705882352941178,0.2549019607843137,0.9529411764705882,0.9529411764705882,0.9568627450980393,0.9411764705882353,0.2235294117647059,0.27450980392156865,0.5529411764705883,0.7450980392156863,0.6549019607843137&swatchOrder=0,1,2,3,4
*/

.mainheading {
	
}

nav {
	border: .2em double #8DBEA7;
	width: 20%;
	background: rgba(141,190,167,0.3);
    font-family: Helvetica;
    border-radius: 10.5%;
    font-size: 0.8em;
    float: left;
    display: block;
    margin-right: 2em;
background: rgb(246,248,249); /* Old browsers */
background: -moz-linear-gradient(top, rgba(246,248,249,1) 0%, rgba(229,235,238,1) 50%, rgba(215,222,227,1) 51%, rgba(245,247,249,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(246,248,249,1)), color-stop(50%,rgba(229,235,238,1)), color-stop(51%,rgba(215,222,227,1)), color-stop(100%,rgba(245,247,249,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(246,248,249,1) 0%,rgba(229,235,238,1) 50%,rgba(215,222,227,1) 51%,rgba(245,247,249,1) 100%); /* W3C */

}

.quote{
	padding: 2%;
    font-style: italic;
    text-align: center;
    border: .1em dotted #3F3F41;

}
.topic{
    width:50%;
    padding: 0 2em 0 2em;
    margin:1% auto;
    border: .2em dotted rgba(240,57,70,0.3);
background: -moz-linear-gradient(top, rgba(255,255,255,0.88) 0%, rgba(255,255,255,0.72) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.88)), color-stop(100%,rgba(255,255,255,0.72))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.72) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.72) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.72) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,0.88) 0%,rgba(255,255,255,0.72) 100%); /* W3C */
}

#section2.topic{
    float: left;
}

footer{
    text-align: center;
    clear: both;
    color: white;
    
}

aside{
	
    float: left;
	max-width: 1%;
	max-height: auto;
}
a:visited{
    color:gray;
}

a:hover{
    text-decoration: underline;
}

a:active{
    color: #A3A839;
}

a{
    text-decoration: none;
}

body {
/* 	background: #F3F3F4; */
    background-image: url("../images/bg.gif"), url("../images/bg.gif");
	background-repeat: repeat-x, repeat-y;
	background-repeat: space;
	background-repeat: round;


	
}

h1 {
    color: rgba(240,57,70,1);
    line-height: 4%;
    word-spacing: 0.625em;
    letter-spacing: .2em;
    font-size: 2.588em;
    font-weight: bold;
    text-align: center;
    clear: both;

}

h3 {
	color: rgb(240,57,70);
	background: rgba(240,57,70,0.3);
    text-align: center;
    border-radius: .8em;
    box-shadow: .2em .2em grey;


}
h4 {
	background-image: url("../images/cylon_new.png");
	background-repeat: no-repeat;
	padding: 1% 5%;
	
}

#tftable {
	font-size:12px;
	color:#333333;
	width:100%;
	border-width: 1px;
	border-color: #a9a9a9;
	border-collapse: collapse;
}
#tftable th {
	font-size:12px;
	background-color:#F3F3F4;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
	text-align:left;
}
#tftable tr {
	background-color:#cdcdcd;
}
#tftable td {
	font-size:12px;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #a9a9a9;
}
#tftable tr:hover {
	background-color:#ffffff;
}




















