/* CSS */
body{
    margin: 0;
    padding: 0;
    background: #1a1a1a;;
}


/*Left Panel*/
.left-panel-fixed
{
    width: 10em;
    height: 100%;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(63,63,65,0.90);
}

/*Top Panel*/
.top-panel-fixed
{
    width: 100%;
    height: 5em;
    left: 0;
    top: 0;
    position: fixed;
    background: rgba(63,63,65,0.90);

}
#login
{
    float: right;
    padding: .8em;

}
#Userpass,#Username
{
    display: block;
    width: 20em;
    margin-right: 10em;
}
#login-button
{
    position: absolute;
    border:0;
    background: rgb(240,57,70);
    color: white;
    width: 20.6em;
}
#logo
{
    position: absolute;
    margin-left: 50%;
    color: white;
    text-align: center;
}

/*actual page content*/
.page-content
{
    margin-top: 7em;
    margin-right: 2em;
    margin-left: 12em;
    border: grey dotted .1em;
    border-radius: 1em;

} .page-content:hover{
    border: grey solid .1em;
  }

