/* CSS
        Created By: Don Page on 
        Don.page.work@gmail.com
        @DonRPage
 */

body {
    overflow-x: hidden;
}

nav {
    position: relative;
    z-index: 9999;
    width: 100%;
    background: #4e4e4e;
}

nav ul {
    padding: 2em 4%;
    text-align: center;
    max-height: 4em;
    width: 100%;
    height: auto;
    list-style: none;
}

.hidden-nav {
    padding-top: 10%;
    background: white;
    width: 100%;
    position: relative;
    height: 500px;
}

.login-btn{
    width: 100%;
}

nav ul li {
    display: inline;
    /*padding: 4em 20% 0;*/
}

nav ul li a {
    color: #eee;
    position: relative;
    margin-top: 3em;
    float: right;
    top: -3em;
}

nav ul li span {
    top: -11px;
    color: #eee;
    font-size: 2em;
    position: absolute;
}

.honey-gallery {

    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

#honey {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

footer {
    width: 100%;
    height: auto;
    background: #b4b4b4;
    color: white;
    padding: 8em;
    text-align: center;
    background: url('../images/svg-honey.png') no-repeat;
    background-size: 100% auto;
}

footer p{
    color: #eee;
}

.content {
    width: 100%;
    background: #eee;
    height: 100%;
}

.details-image {
    width: 100%;
    height: auto;
}

.details-car-name {
    text-align: center;
}

.img-left {
    position: absolute;
    max-width: 200px;
    max-height: 100%;
}

.right-content {
    padding: 5px;
    margin-left: 200px;
}

.car-content:first-of-type{
    padding-top: 8.2em;
}

.car-content {
    padding: 8px;
    border-bottom: 1px solid #e0e0e0;

}

.all-cars-container:nth-child(1){
    margin-top: 3em;
}

.container{
    padding: 0 0 30px 0;
}

img {
    display: inline;
    float: left;
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.filter{
    display: block;
    width: 100%;
}

.filter-btn {
    right: 0;
    text-align: right;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
    z-index: 9999;
    position: fixed;
    margin-top: 2em;
    background-color: deepskyblue;
    outline: none;
}

.l-btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.r-btn {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.filter-sidebar {
    background: deepskyblue;
    position: absolute;
    right: -300px;
    width: 300px;
    height: 100%;
    z-index: 20;
}

#browse-container {
    width: 100%;
    background: white;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: .3s ease all;
    transition: .3 ease all;
}

#browse-container.show-filter {
    -webkit-transform: translateX(-300px);
    transform: translateX(-300px);
}

.overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.40);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10;
}

#mid-mid {
    fill: url("#mid-mid-car");
}

/*#mid-mid:hover{*/
/*-webkit-transform: translateY(0px);*/
/*-webkit-animation: bounce 1.6s infinite ease;*/
/*}*/

.svg-honey {
    stroke: gray;

}

.svg-honey:hover {

    cursor: pointer;
    stroke: black;
}

@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateY(10px);
    }
    50% {
        -webkit-transform: translateY(-10px);
    }
    100% {
        -webkit-transform: translateY(10px);
    }
}

/*Inputs ******************
***************************/


/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 45px;
}

label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 10px;
    transition: 0.2s ease all;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

input:valid {
    border-bottom: 1px solid #4fc24f;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

.bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

input:valid ~ .bar:before, input:valid ~ .bar:after {
    background: #4fc24f !important;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    opacity: 0.5;
}

/* active state -------------------------------------------- */
input:focus ~ label, input.used ~ label {
    top: -20px;
    font-size: 14px;
    color: #5264AE;
}

input:valid ~ label, input:valid.used ~ label {
    color: #4fc24f;
}

input:focus ~ .bar:before {
    width: 50%;
}

input:focus ~ .bar:after {
    width: 50%;
}

input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
}

input:valid ~ .hightlight {
    -webkit-animation: validHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #5264AE;
    }
    to {
        width: 0;
        background: transparent;
    }
}

@-webkit-keyframes validHighlighter {
    from {
        background: #4fc24f !important;
    }
    to {
        width: 0;
        background: transparent;
    }
}

/*iPhone 4 (320px)*/
@media (max-width: 450px) {

    /*img{*/
    /*max-width: 330px;*/
    /*display: block;*/
    /*}*/

}